.gap{
  height: 24px;
}
.signintext{
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 17px;
}
.width-image{
  width: 100%;
 
  color:white;
}
.width-image-20{
  background-color: rgb(207, 197, 197);
  width: 20%;
  padding-bottom:15%
}
